img.header-image {
    position: absolute;
    width: 100%;
    left: 0;
    top: -2vw;
    z-index: -1;
}

span.slogan {
    position: absolute;
    width: 50%;
    right: -10vw;
    margin-top: 20vw;
    font-family: 'dancing script';
    font-size: 2.5vw;
    color: #EDEDEC;
    animation: slide-in 3s forwards;
    opacity: 0;
    transform: translateX(25%);
}

@keyframes slide-in {
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}