div.upload-recipe {
    position: absolute;
    display: block;
    background-color: #5C4D4A;
    width: 100%;
    height: 30vw;
    margin-top: 53.7vw;
    left: 0;
    padding: 1em;
    text-align: center;
    color: #EDEDEC;
    border-top: .3em solid #3f373b;
    border-bottom: .3em solid #3f373b;
}

div.upload-recipe h2 {
    font-size: 3vw;
    font-family: 'dancing script';
    /* text-transform: uppercase; */
    margin-top: 7vw;
}

div.upload-recipe p {
    width: 30%;
    margin: 0 auto;
    font-size: 1.2vw;
}

div.upload-recipe a {
    color: #EDEDEC;
    font-weight: 600;
}

img.sugar {
    position: absolute;
    margin: -10vw 15vw;
    width: 30vw;
}

img.sugar2 {
    position: absolute;
    margin: 5vw 5vw;
    width: 30vw;
}

img.sugar, img.sugar2 {
    animation: slide-in 2s 4s forwards;
    transform: translateX(120%);
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}