ul.recipe-list {
    background-color: #463937;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    /* margin-top: 10vw; */
    width: 80%;
    list-style: none;
    margin: 10vw auto;
    padding: 1em;
    border: .5em solid #221b1a;
}

ul.recipe-list li {
    padding: 2em;
    width: 20%;
    text-align: center;
}

ul.recipe-list li h1 {
    color: #f7f7f7;
}

ul.recipe-list li img {
    width: 100%;
    border: .3em solid #2e2524;
}