div.pop-items {
    background-color: #463937;
    /* position: absolute; */
    margin-top: -1.01vw;
    width:100%;
    margin-left: -.5vw;
    color: #EDEDEC;
}

div.pop-items h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 3em;
}

div.pop-items hr {
    border-color: #5e4c49;
    width: 50%;
}

div.most-bought {
    display: flex;
    justify-content: center;
    padding: 4em;
}

img.product {
    width: 20%;
    margin-top: 1em;
    margin-right: 5em;
    border: 5px solid #5e4c49;
    align-self: center;
}