@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto|Staatliches');

body {
  background-color: #0C1418;
  background-image: url('../src/assets/wood.png');
  /* background-attachment: fixed; */
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: 'Staatliches', sans-serif;
}
